{% extends 'header.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/stream.css') }}">
{% endblock %}

{% block content %}
<div class="player-control">
    <audio id="main-player" src></audio>
    <div class="ctrl-button">
        <div id="play" class="click-btn">
            <img src="{{ url_for('static', filename='images/play.svg') }}" alt="" height="48" width="48">
        </div>
        <div id="pause" class="click-btn hidden">
            <img src="{{ url_for('static', filename='images/pause.svg') }}" alt="" height="48" width="48">
        </div>
    </div>
    <div class="metatag">
        <div class="song-info">
            <a href="{{ np['webpage_url'] }}" class="text" id="title">{{ np['title'] }}</a>
            <a href="{{ np['channel_url'] }}" class="text" id="artist">{{ np['channel'] }}</a>
        </div>
        <canvas onclick="toggleSettings()" width="720" height="64" id="visualizer"></canvas>
        <div id="duration">
            00:00
        </div>
    </div>
</div>
<div class="hidden" id="visualizer-setting">
    <div class="setting-box">
        <label for="visualizer-fps">FPS</label>
        <input onchange="visualizer.changeFPS(this.value)" type="number" min="1" id="visualizer-fps" value="48"
            placeholder="48">
    </div>
    <div class="setting-box">
        <label for="visualizer-thickness">Thickness</label>
        <input onchange="visualizer.changeThickness(this.value)" type="number" step="0.1" min="0.1"
            id="visualizer-thickness" placeholder="2" value="2">
    </div>
    <div class="setting-box">
        <label for="visualizer-color">Color</label>
        <input onchange="visualizer.changeColor(this.value)" type="text" id="visualizer-color" placeholder="black"
            value="black">
    </div>
    <div class="setting-box">
        <label for="visualizer-sensitivity">Sensitivity</label>
        <input onchange="visualizer.changeSensitivity(this.value)" min="0" max="1" step="0.1" type="number"
            id="visualizer-sensitivity" placeholder="0.6" value="0.6">
    </div>
    <div class="setting-box">
        <label for="visualizer-type">Type</label>
        <select onchange="visualizer.changeType(this.value)" id="visualizer-type">
            <option value="bars">Bars</option>
            <option value="oscilloscope">Oscilloscope</option>
        </select>
    </div>
    <div class="setting-box">
        <label for="visualizer-multiplier">Multiplier</label>
        <input onchange="visualizer.changeMultiply(this.value)" type="number" min="0" step="0.1"
            id="visualizer-multiplier" placeholder="1" value="1">
    </div>
    <div class="setting-box">
        <label for="visualizer-minDecibels">Min Decibels</label>
        <input onchange="visualizer.changeminDecibels(this.value)" min="-100" max="0" type="text"
            id="visualizer-minDecibels" placeholder="-100" value="-100">
    </div>
    <div class="setting-box">
        <label for="visualizer-maxDecibels">Max Decibels</label>
        <input onchange="visualizer.changemaxDecibels(this.value)" min="-100" max="0" type="number"
            id="visualizer-maxDecibels" placeholder="-30" value="-30">
    </div>

</div>
<div class="queue">
    <div class="queue-header">
        <div class="queue-main-title">
            Queue
            <button onclick="AddQueueBox()" class="no-select" id="add-btn">+</button>
            <input id="add-queue-box" type="text">
        </div>
        <div style="display: flex; justify-content: space-between; flex-direction: column;">
            <button class="toggle-visual" onclick="visualizer.toggle()">Toggle visualizer</button>
            <button class="skip-btn" onclick="voteSkip()">Vote skip</button>
        </div>
    </div>
    <div class="queue-content">
        <div id="queue-list" class="queue-wrapper">
            <div class="queue-empty{% if queue %} hidden{% endif %}">
                <img style="padding-bottom: 10px;" src="{{ url_for('static', filename='images/kanna.gif') }}" alt=""
                    height="200" width="156">
                Nothing here... yet
            </div>
            {% if queue %}
            {% for q in queue %}
            <div>
                <a href="{{ q['webpage_url'] }}" class="text" id="title">{{ q['title'] }}</a>
                <a href="{{ q['channel_url'] }}" class="text" id="artist">{{ q['channel'] }}</a>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='scripts/waveform.js') }}"></script>
{% endblock %}