{% extends 'header.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/stream.css') }}">
{% endblock %}

{% block content %}
    <div class="player-control">
        <audio id="main-player" src></audio>
        <div class="ctrl-button">
            <div id="play" class="click-btn">
                <img src="{{ url_for('static', filename='images/play.svg') }}" alt="" height="48" width="48">
            </div>
            <div id="pause" class="click-btn hidden">
                <img src="{{ url_for('static', filename='images/pause.svg') }}" alt="" height="48" width="48">
            </div>
        </div>
        <div class="metatag">
            <div class="song-info">
                <a href="#" class="text" id="title">Title</a>
                <a href="#" class="text" id="artist">Artist</a>
            </div>
            <div id="duration">
                00:00
            </div>
        </div>
    </div>
    <div class="queue">
        <div class="queue-main-title">Queue</div>
        <div class="queue-content">
            <div class="queue-wrapper">
                <div class="queue-empty">
                    <img style="padding-bottom: 10px;" src="{{ url_for('static', filename='images/kanna.gif') }}" alt="" height="200" width="156">
                    Nothing here... yet
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
{% endblock %}